@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Book Manager</h1>
    <p class="lead">The best place to manager your books.</p>
</div>

<div class="row">
    <div class="col-md-4">
    Welcome to Book Manager
    </div>
</div>