@using LookinForBooks.Models
@model LookinForBooks.Models.DashBoardVm


@{
    ViewBag.Title = "Dashboard";
}


<h2>Dashboard</h2>

<h3>My Books</h3>
@Html.Partial("BookList", Model.MyBooks)

<h3>Loaned Out Books</h3>
@Html.Partial("BookList", Model.BooksIBorrowed)

<h3>Available Books</h3>
@Html.Partial("BookList", Model.AvailableBooks)



   








