@model LookinForBooks.Models.DashBoardVm

@{
    ViewBag.Title = "DashBoard";
}

<h2>My DashBoard</h2>

<div>
    <h4>Dashboard</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>

@foreach (var book in Model.MyBooks)
{  
    <div>
        @book.IsCheckedOut 
        @Html.ActionLink("IsChecheckedOut", "DashBoard", new {id = book.BookId})
    </div>

}

        Available Books
@foreach (var book in Model.AvailableBook)
{
    <div>
        @Html.ActionLink("Available Books", "DashBoard", new { id = book.BookId }) |
    </div>
}
<td></td>