@model LookinForBooks.Models.Book

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>


// Htmlaction link yes or no Htmlaction that sasy dashboard to return back to the dashboard