@using LookinForBooks.Models
@model LookinForBooks.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Books</h4>
    <hr />
    <dl class="dl-horizontal">


        <dd>
            
            <p>
                @Html.DisplayFor(model => model.Title)
            </p>


            <p>
                @Html.DisplayFor(model => model.Author)
            </p>


            <p>
                @Html.DisplayNameFor(model => model.Summary)
            </p>






        </dd>
    </dl>
</div>
<p>
  
    @Html.ActionLink("Back to List", "DashBoard")
</p>
